.githooks/** text eol=lf
benchmarks/**/*.sh text eol=lf
scripts/**/*.sh text eol=lf
internal/artifact/testdata/**/*.pdf binary
internal/artifact/testdata/**/*.docx binary
internal/artifact/testdata/**/*.xlsx binary
internal/artifact/testdata/**/*.pptx binary
